<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719009455680-006b3578046apvqqf2u5t64f8eiuo4gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719009455680-006b3578046apvqqf2u5t64f8eiuo4gr</string>
	<key>API_KEY</key>
	<string>AIzaSyD9U6ACwziYHhaLX_dG3LcQaPgoYLuA1Cc</string>
	<key>GCM_SENDER_ID</key>
	<string>719009455680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>najmehnasiriyani.AutoLayoutDemo</string>
	<key>PROJECT_ID</key>
	<string>iosfirebaselearning</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfirebaselearning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719009455680:ios:e7eccade3002c89a</string>
	<key>DATABASE_URL</key>
	<string>https://iosfirebaselearning.firebaseio.com</string>
</dict>
</plist>